<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                Let's go ahead and get you signed up.
            </div>
        </h2>



        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        <input id="email" type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="password" type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="confirmPassword" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="icon file image"></i>
                        <input name="url" type="text" placeholder="Profile Image URL">
                    </div>
                </div>

                <div id="submit" class="ui fluid large teal submit button">Signup</div>
            </div>

            <div id="error" class="ui error message"></div>
        </form>


        <div class="ui message">
            Already a member? <a href="/login">Login</a>
        </div>
    </div>
</div>