<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sports Betting | {{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    {{#if activeIndex}}
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="/assets/css/index/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/index/animate.css">
    <!-- hover-min css -->
    <link rel="stylesheet" href="/assets/css/index/hover-min.css">
    <!-- magnific-popup css -->
    <link rel="stylesheet" href="/assets/css/index/magnific-popup.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="/assets/css/index/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/index/time-circles.css">
    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/index/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/assets/css/index/responsive.css">
    {{/if}}
    {{#if authCSS}}
    <link rel="stylesheet" href="/assets/css/login.css">
    {{/if}}

    {{#if activeMatches}}
    <link rel="stylesheet" href="/assets/css/matches.css">
    {{/if}}
    <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
    <div class="whole-page-container">


        <!-- Following Menu -->
        {{!-- <div class="ui large top fixed hidden menu">
            <div class="ui container">
                <a class="active item">Home</a>
                <a class="item">Work</a>
                <a class="item">Company</a>
                <a class="item">Careers</a>
                <div class="right menu">
                    <div class="item">
                        <a class="ui button">Log in</a>
                    </div>
                    <div class="item">
                        <a class="ui primary button">Sign Up</a>
                    </div>
                </div>
            </div>
        </div> --}}

        <!-- Sidebar Menu -->
        <div class="ui vertical inverted sidebar menu">
            <a class="active item" href="/">Home</a>
            <a class="item" href="/matches">Matches</a>
            <a class="item" href="/leaders">Leaderboard</a>
            {{#if isLoggedIn}}<a class="item" href="/login">Login</a>
            {{else}}<a class="item" href="/logout">Logout</a>{{/if}}

            <a class="item" href="/signup">Signup</a>
        </div>


        <!-- Page Contents -->
        <div class="pusher">
            <div class="ui inverted vertical masthead center aligned segment">

                <div class="ui container">
                    <div class="ui large secondary inverted pointing menu">
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>
                        <a class="{{#if activeIndex}}active{{/if}} item" href="/">Home</a>
                        <a class="item {{#if activeMatches}}active{{/if}}" href="/matches">Matches</a>
                        {{#if isLoggedIn}}
                        <a class="item {{#if activeLeaders}}active{{/if}}" href="/leaders">Leaderboard</a>
                        {{/if}}
                        <div class="right item">
                            {{#if isLoggedIn}}
                            <a class="ui inverted button logout">Logout</a>
                            {{else}}
                            {{#unless loginJS}}
                            <a class="ui inverted button" href="/login">Login</a>
                            {{/unless}}
                            {{#unless signupJS}}
                            <a class="ui inverted button" href="/signup">Signup</a>
                            {{/unless}}
                            {{/if}}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {{{body}}}

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script
        src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

    <script src="/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    {{#if activeIndex}}
    <script src="/assets/js/index.js"></script>
    <!-- jquery-ui js -->
    <script src="/assets/js/index/jquery-ui.min.js"></script>
    <!-- meanmenu js -->
    <script src="/assets/js/index/jquery.meanmenu.js"></script>
    <!-- wow js -->
    <script src="/assets/js/index/wow.min.js"></script>
    <!-- masonry js -->
    <!-- owl.carousel js -->
    <script src="/assets/js/index/owl.carousel.min.js"></script>
    <script src="/assets/js/index/time-circle.js"></script>
    <!-- magnific-popup js -->
    <script src="/assets/js/index/jquery.magnific-popup.js"></script>
    <!-- main js -->
    <script src="/assets/js/index/main.js"></script>
    {{/if}}
    {{#if loginJS}}
    <script src="/assets/js/login.js"></script>
    {{/if}}
    {{#if signupJS}}
    <script src="/assets/js/signup.js"></script>
    {{/if}}
    {{#if activeMatches}}
    <script src="/assets/js/matches.js"></script>
    {{/if}}
</body>

</html>