<h1>Home Page</h1>

  
    <tbody> 
        {{#schedule}} 
        <tr> 
            <td>{{homeTeam}}</td> 
            <td>{{awayTeam}}</td> 
        </tr> 
        {{/schedule}} 
    </tbody> 
</table>
<script>
    




</script>