<!--auto slider w/ upcoming matches -->
<div class="upcoming-section">
			<div class="container">
                <h2>Upcoming Matches</h2>
                <div id="upcoming" class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="30" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="false" data-md-device-dots="false">
                    <div class="item">
                        <div class="col-md-4 col-sm-4 col-xs-12 first">
                            <img src="/img/SAC.svg" alt="">
                            <h4>Sacramento Kings</h4>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <span class="date">March 9th, 12:00</span>
                            <span class="vs">VS</span>
                            <span>Madison Square Garden</span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 last">
                            <img src="/img/NYK.svg" alt="">
                            <h4>New York Knicks</h4>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-md-4 col-sm-4 col-xs-12 first">
                            <img src="/img/BKN.svg" alt="">
                            <h4>Brooklyn Nets</h4>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <span class="date">March 9th, 19:00</span>
                            <span class="vs">VS</span>
                            <span>State Farm Arena</span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 last">
                            <img src="/img/ATL.svg" alt="">
                            <h4>Atlanta Hawks</h4>
                        </div>
                    </div>

                    <div class="item">
                        <div class="col-md-4 col-sm-4 col-xs-12 first">
                            <img src="/img/WAS.svg" alt="">
                            <h4>Washington Wizards</h4>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <span class="date">March 9th, 20:00</span>
                            <span class="vs">VS</span>
                            <span>Target Center</span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 last">
                            <img src="/img/MIN.svg" alt="">
                            <h4>Minnesota Timberwolves</h4>
                        </div>
                    </div>

				</div>
			</div>
		</div>
		<!-- Upcoming Match Section end Here-->
    </div>
</div>
 <!-- landing page -->
    <div class="slider-section4 slider-main">
			<div id="slider-five" class="owl-carousel">
				<div class="item active">
					<img src="/assets/images/full-slider/nba_money.png" alt="Slider image">
                    <div class="dsc">
					   <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="slider-text text-center">
                                        <h1 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">Sacramento Kings<span>VS</span>New York Knicks</h1>
                                        <div data-animation-in="slideInLeft" data-animation-out="animate-out fadeOut" class="CountDownTimer" data-date="2019-03-09 12:00:00"></div>
                                        <div class="btn-slider"> 
                                            <a href="#" class="btn1" data-animation-in="slideInUp" data-animation-out="animate-out slideOutDown">View Leaderboards</a>
                                            <a href="#" class="btn2" data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">Place a Bet</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                
						</div>
					</div>
				</div>
				<div class="item">
					<img src="/assets/images/full-slider/nba_money2.jpg" alt="Slider image">
                    <div class="dsc">
					   <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="slider-text text-center"> 
                                        <h1 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">Brooklyn Nets<span>VS</span>Atlanta Hawks</h1>
                                        <div data-animation-in="slideInRight" data-animation-out="animate-out fadeOut" class="CountDownTimer" data-date="2019-03-09 19:00:00"></div>
                                        <div class="btn-slider"> 
                                            <a href="#" class="btn1" data-animation-in="slideInUp" data-animation-out="animate-out slideOutDown">View Leaderboards</a>
                                            <a href="#" class="btn2" data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">Place a Bet</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                
						</div>
					</div>
				</div>
                
				<div class="item">
					<img src="/assets/images/full-slider/nba_money.png" alt="Slider image">
                    <div class="dsc">
					   <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="slider-text text-center">
                                        <h1 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">Washington Wizards<span>VS</span>Minnesota Timberwolves</h1>
                                        <div data-animation-in="slideInLeft" data-animation-out="animate-out fadeOut" class="CountDownTimer" data-date="2019-03-09 20:00:00"></div>
                                        <div class="btn-slider"> 
                                            <a href="#" class="btn1" data-animation-in="slideInUp" data-animation-out="animate-out slideOutDown">View Leaderboards</a>
                                            <a href="#" class="btn2" data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">Place a Bet</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>



























{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> --}}
    {{!-- <link rel="stylesheet" href="/assets/css/main.css"> --}}



{{!-- 
<div class="ui container">
    <div class="ui segment date-segment">
        <div class="ui header centered date-div">
            <h4>Matches</h4>
            <h5 class="date-header"></h5>
        </div>
    </div>
    <div class="ui cards centered" id="matches-div">
    </div>
</div> --}}

    {{!-- <div id="gInfo" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Game Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="city"></p>
                    <p class="location"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div> --}}



 {{!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>

$(document).ready(function () {



    // Get request for today's games
    $.get('/api/matches', function (data) {
        console.log(data);



    })

    


    



});

   
</script> --}}