<div class="ui container">

    <table class="ui inverted grey selectable inverted table">
        <h1 id="tableHeader">Leaders</h1>
        <thead>
            <tr>
                <th></th>
                <th>Rank</th>
                <th>Member</th>
                <th>Total Bets</th>
                <th>Total Won</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>
                    <h4 class="ui image header">
                        <img class="ui mini rounded image" src="{{imageUrl}}"></img>
                    </h4>
                </td>
                <td></td>
                <td>{{name}}</td>
                <td>{{totalBets}}</td>
                <td>$ {{total}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>