<div class="ui container">
    

    <table class="ui inverted grey selectable inverted table">
        <h1 id="tableHeader">Leaders</h1>
        <thead>
            <tr>
                <th></th>
                <th>Member</th>
                <th>Total Bets</th>
                <th>Total Won</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               <td><h4 class="ui image header">
          <img class="ui mini rounded image" src="https://www.menshairstyletrends.com/wp-content/uploads/2017/03/mokumbarbers-messy-styles-for-men-2017-trends-texture.jpg"></img></h4></td>
                <td>Ted</td>
                <td>80</td>
                <td>$10000</td>
            </tr>
            <tr>
                <td><h4 class="ui image header">
          <img class="ui mini rounded image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBFxhFnGzCrJkQIJ1WiJ-W4vu2_c69A1XLuX3YOnJZamrbuD3-XQ"></img></h4></td>
                <td>John</td>
                <td>75</td>
                <td>$8000</td>
            </tr>
        </tbody>
    </table>
    
    