<div class="ui cards centered">
    <div class="card">
        <div class="content">
            <img class="right floated tiny ui image"
                src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/phx.png">
            <img class="left floated tiny ui image"
                src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/phx.png">

            <div class="header">
                Elliot Fu
            </div>
            <div class="meta">
                Friends of Veronika
            </div>
            <div class="description">
                Elliot requested permission to view your contact details
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button">Approve</div>
                <div class="ui basic red button">Decline</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <img class="right floated tiny ui image"
                src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/phx.png">
            <img class="left floated tiny ui image"
                src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_500x500/phx.png">

            <div class="header">
               {{homeTeam}} VS {{awayTeam}}
            </div>
            <div class="meta">
                New Member
            </div>
            <div class="description">
                Jenny wants to add you to the group <b>best friends</b>
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button">Approve</div>
                <div class="ui basic red button">Decline</div>
            </div>
        </div>
    </div>
</div>

