#tableHeader {
  color: white;
  text-align: center;
}
.details {
  text-align: center;
  color: white;
}

.ui.table.leader-table {
  /* width: 75%; */
}

.ui.inverted.grey.table {
  margin: auto;
}

.image.header {
  /* height: 10%; */
}
